In [1]:
import pandas as pd

In [2]:
ipl=pd.read_csv("../dataset/deliveries.csv")

In [3]:
ipl.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
177300,11344,2,Delhi Capitals,Rajasthan Royals,1,6,S Dhawan,P Shaw,K Gowtham,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
120312,507,2,Sunrisers Hyderabad,Chennai Super Kings,9,8,DA Warner,S Dhawan,RA Jadeja,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
35116,151,1,Deccan Chargers,Kings XI Punjab,4,3,AC Gilchrist,HH Gibbs,S Sreesanth,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
86847,367,2,Mumbai Indians,Royal Challengers Bangalore,20,4,KA Pollard,AT Rayudu,CH Gayle,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
113196,478,1,Chennai Super Kings,Kolkata Knight Riders,4,4,BB McCullum,SK Raina,SP Narine,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [4]:
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [5]:
#Find the top 10 batsman in terms of runs:
runs=ipl.groupby('batsman')
runs['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [6]:
#Find the batsman with maximum number of sixes:
six=ipl[ipl['batsman_runs']==6]
six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(5)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
Name: batsman, dtype: int64

In [7]:
#Find the batsman with maximum number of sixes and fours in the last five overs:
overs=ipl[ipl['over']>=15]
final_runs=overs[(overs['batsman_runs']==6) | (overs['batsman_runs']==4)]
final_runs.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(5).index[0]

'MS Dhoni'

In [8]:
#Find Virat Kolhi's run against each team:
vk=ipl[ipl['batsman']=='V Kohli']

In [9]:
vk.groupby(['batting_team', 'bowling_team'])['batsman_runs'].sum().sort_values(ascending=False)

batting_team                 bowling_team
Royal Challengers Bangalore  Delhi Daredevils           763
                             Chennai Super Kings        749
                             Kolkata Knight Riders      675
                             Kings XI Punjab            636
                             Mumbai Indians             628
                             Sunrisers Hyderabad        509
                             Rajasthan Royals           370
                             Deccan Chargers            306
                             Gujarat Lions              283
                             Rising Pune Supergiants    188
                             Pune Warriors              128
                             Rising Pune Supergiant      83
                             Delhi Capitals              66
                             Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [10]:
#Create a function that can return the highest score of any batsman:
def highest_runs(name):
    batsman=ipl[ipl['batsman']==name]
    runs=batsman.groupby('match_id')['batsman_runs'].sum()
    highest_score=runs.max()
    return highest_score

In [12]:
highest_runs('CH Gayle')

175

In [13]:
#Random Practise
names=pd.Series(ipl['batsman'].unique()).sort_values(ascending=False)

In [14]:
filtered_names=names.apply(lambda x:"V" in x)
print(names[filtered_names])

227        YV Takawale
180    Y Venugopal Rao
186         WPUJC Vaas
46        Vishnu Vinod
208          VY Mahesh
181         VVS Laxman
258        VS Yeligati
336           VS Malik
202          VRV Singh
86            VR Aaron
437             VH Zol
81           V Shankar
170           V Sehwag
399     V Pratap Singh
87             V Kohli
52           SV Samson
222           S Vidyut
64          RV Uthappa
348           RV Gomez
203      R Vinay Kumar
430           PV Tambe
272        PC Valthaty
80             NV Ojha
151         MV Boucher
41             M Vohra
289            M Vijay
120          KV Sharma
388           HV Patel
499          H Viljoen
496           H Vihari
411          GH Vihari
252      DP Vijaykumar
280         DL Vettori
326           AC Voges
71      AB de Villiers
dtype: object